@charset "UTF-8";

* {
    outline: 2px dotted black;
}

body {
    background-color: rgb(111, 190, 227);
}

header {
    background-color: bisque;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(99, 59, 7);

}

div {
    text-align: center;
}

footer {
    color: rgb(246, 241, 241);
    text-align: center;
    font-size: italic;
}

